* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegacion {
    color: #164ca2;
    background: rgb(218, 218, 218);
}

.IconoHS {
    color: #8ca4c7;
    transition: 1s;
}

.IconoHS:hover{
    color: #1754b6;
}

.IconoAR{
    color:#8ca4c7;
    transition: 1s;
}

.IconoAR:hover{
    color: #1754b6;
}

.sr{
    color: #8ca4c7;
    transition: 1s;
}

.sr:hover{
    color: #1754b6;
}

.col-md-5{
  background-color: white;

  border: 1px solid #eeeeee;
  border-radius: 10px;

  min-height: 330px;
  gap: 20px;

  display: flex;
  flex-direction: column;
}

.manco{
    color: #164ca2;
}

.roge{
    text-decoration: none;
}