* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegacion {
    background: #bdbdbdaa;
    color: #164ca2;
}

.IconoHS {
    color: #2375f7;
    transition: 1.5s;
}

.IconoHS:hover{
    color: #1754b6;
}
.row{
    padding: 10px;
}

